#file with api keys and such
/src/main/resources/ch/tiim/sco/config/private.properties
# /src/generated
out/
build/
.idea/
.gradle/
wd/

version.txt
gradle.properties
*.iml
*.jar
*.class
*.keys
*.db
tools/