.title {
    -fx-font: bold 18 sans-serif;
}

.week-day {
    -fx-font: bold 14 sans-serif;
}

.grid {
    -fx-grid-lines-visible: true;
}

.day-box {
    -fx-padding: 2;
}

.day {
    -fx-font: 12 sans-serif;
}

.day-box:in-month {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.day-box:in-month:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.day-box:non-empty {
    -fx-background-color: rgba(0%, 30%, 100%, 0.1);
}

.day-box:non-empty:hover {
    -fx-background-color: rgba(0%, 30%, 100%, 0.2);
}